.train-info{
    width: 100%;
    box-sizing: border-box;
    /* background-color: cadetblue; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.5rem 1.02rem;
    border: 3px solid rgb(210, 207, 207);
    margin-bottom: 10px; 

}
.train-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    cursor: pointer;
}
.train-name h3{
    font-size: 30px;
}
.class-info{
    margin-top: 5px;
    /* background-color: beige; */
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in;
    will-change: max-height;

}
.up-down{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in;
}
.up-down-active{
    transform: rotate(0deg);
}
/* .show{
    max-height: 1000px;

} */
.train-timing-details{
    display: flex;

}
.time{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 600;
    border: 2px solid rgb(176, 173, 173);
}
.train-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: gray;
    text-align: center;
    box-sizing: border-box;
    border-top: 2px solid rgb(176, 173, 173);
    border-bottom: 2px solid rgb(176, 173, 173);
    border-right: 2px solid rgb(176, 173, 173);
    cursor: pointer;
}
.all-classes{
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
}
.classes{
    width: 130px;
    height: 150px;
    border: 3px solid green;
    padding: 10px 12px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 20px;

}

#green{
    color: rgb(3, 82, 3);
    font-size: 20px;
}
#greeen{
    color: rgb(3, 82, 3);
    font-size: 30px;
    text-align: center;
}
#vat{
    font-size: 15px;
}
.class-btnn{
    width: 100%;
    height: 1.8rem;
    border-radius: 7px;
    background-color: rgb(3, 82, 3);
    color: white;
    font-weight: 600;
    font-size: 1.0.5em;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}
.class-btn:hover{
    background-color: rgba(3, 82, 3,0.8); 
}
/* .show_seat{
    display: none;
} */

.seat_show {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease-in; /* Smooth animation */

}
.please_show{
    max-height: 1000px;
    transition: all 0.4s ease-in; /* Smooth animation */
}

.show_seat {
    max-height: 0px; /* Initially hidden */
    overflow: hidden;
    /* background-color: aquamarine; */
    transition: all 0.4s ease-in; /* Smooth animation */
}

.show_seat_pattern {
    max-height:1500px; /* Set a large enough value for smooth transition */
    transition: all 0.4s ease-in; /* Smooth animation */
    /* background-color: yellow; */
}

@media screen and (width <=1218px){
    .classes{
        width: 20%;
        height: 60%;
        font-size: 0.8em;
    }
}
@media screen and (width <=1093px){
    .classes{
        width: 20%;
        height: 50%;
        font-size: 0.7em;
    }
    .train-timing-details{
        font-size: 0.9em;
    }
    .train-details{
        font-size: 0.9em;
    }
    .class-btn{
        border-radius: 5px;
    }
}
@media screen and (width <=968px){
    .classes{
        width: 20%;
        height: 50%;
        font-size: 0.6em;
    }
    .train-timing-details{
        font-size: 0.8em;
    }
    .train-details{
        font-size: 0.8em;
    }
    .class-btn{
        border-radius: 3px;
        font-size: 0.9em;
    }
}
@media screen and (width <=861px){
    .classes{
        width: 20%;
        height: 40%;
        font-size: 0.6em;
    }
    .train-timing-details{
        font-size: 0.8em;
    }
    .train-details{
        font-size: 0.8em;
    }
    .class-btn{
        border-radius: 3px;
        font-size: 0.9em;
    }
    .all-classes{
        justify-content: flex-start;
    }
}
@media screen and (width <=459px){
    .classes{
        width: 30%;
        height: 40%;
        font-size: 0.6em;
    }
    .train-timing-details{
        font-size: 0.8em;
    }
    .train-details{
        font-size: 0.8em;
    }
    .class-btn{
        border-radius: 3px;
        font-size: 0.9em;
    }
    .all-classes{
        justify-content: flex-start;
    }
}
@media screen and (width <= 427px){
    .classes{
        width: 35%;
        height: 40%;
        font-size: 0.6em;
    }
    .train-timing-details{
        font-size: 0.8em;
    }
    .train-details{
        font-size: 0.8em;
    }
    .class-btn{
        border-radius: 3px;
        font-size: 0.9em;
    }
    .all-classes{
        justify-content: flex-start;
    }
}