#select_show{

    transition: all 0.3s ease-in;
}


.left-child{
    box-sizing: border-box;
    /* background-color: yellow; */
    width: 70%;
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
}

#caution{
    font-weight: 500;
    padding: 0.5rem 0;
}

#select-coach{

    width: 100%;
    height: 3rem;
    padding: 0 0.5em;
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(219, 147, 12);
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
}

.seat-status{

    display: flex;
    justify-content: space-between;
    /* background-color: rgb(236, 236, 148); */
}

.seat-status p{
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0.4em;
}
#box{
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
}
#booked #box{
    background-color: orange;
}
#selected #box{
    background-color: green;
}
.available{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-choose{
    background-color: aliceblue;
    padding: 1.4rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 90%; */
}
#seat,#seat-booked,#seat-selected{
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid green;
    font-size: 0.9em;
    font-weight: 600;
    


    
}
#seat:hover,#seat-booked:hover{
    transform: scale(1.01);
}
#seatlimited{
    width: 2rem;
    height: 2rem;
    background-color:rgb(202, 199, 199);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    font-weight: 600;
    cursor: not-allowed;
    
}
#seat-booked{
    background-color: orange;
    color: whitesmoke;
    /* border: 1px solid orange; */
    border: none;
}
#seat-selected{
    background-color:green;
    color: whitesmoke;
    /* border: 1px solid green; */
    border: none;
}
#space{
    /* background-color: rgb(25, 127, 216); */
    width: 4rem;
}
#row{
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    justify-content: center;
    align-items: center;
}
    /* ---------------------------------------right-child---------------------- */
.right-child{
    box-sizing: border-box;
    /* background-color: rgb(228, 9, 133); */
    width: 60%;
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding-bottom: 1.2rem;
    position: relative;
    border: 3px solid rgb(143, 133, 133);
    max-height: fit-content;
}
.parent{
    display: flex;
    justify-content: center;
    
}


@media screen and (width <=1583px){
    .left-child{
        /* background-color: yellow; */
        width: 90%;
        padding: 0 0;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (width <=1162px){
    .left-child{
        /* background-color: yellow; */
        width: 100%;
        padding: 0 0;

    }
}
@media screen and (width <=1053px){
    .left-child{
        /* background-color: yellow; */
        width: 100%;
        padding: 0 0;

    }

    #row{
        width: 100%;
        /* background-color: yellow; */
    }
}
