#nav-profile{
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}

.profilesidebar{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid rgb(178, 178, 178);
    color:black;

}
.dropdown2{
    background-color: aliceblue;
    /* position:relative; */
    padding: 1% 2%;
    color: rgb(65, 58, 58);
    /* right: 0;
    left: 0; */
}
.sidebar div a{
    text-decoration: none;
}