.searching-container{
    /* l,kjj */
    box-sizing: border-box;
    /* min-width: 600px; 
    height: 350px;  */
    
    /* border: 3px solid gray; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px; */
}
/* .searching-container{

    min-width: 600px; 
    height: 350px; 
    border: 3px solid gray; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    border-radius: 10px;
}       */

.from_to{
    /* background-color: blueviolet; */
    display: flex;
    padding: 10px 60px;
    justify-content: center;
    align-items: center;



}
.date-class{
    /* background-color: rgb(180, 138, 219); */
    display: flex;
    padding: 10px 60px;
    justify-content: center;
    align-items: center;

}
#input-field{
    box-sizing: border-box;
    width:265px;
    height: 35px;
    border: 3px solid gray;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: gray;
    /* padding-left: 10px; */
    padding: 0 5%;
    /* width: 90%; */

    /* margin-left: 10px; */
}
.input-div{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(87, 86, 86);
    width: 100%;
}
.btn{
    padding: 10px 5px;
}
.btn-click{
    width: 100%;
    height: 30px;
    background-color: gray;
    color:white;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: not-allowed;
    padding: 5px 0;
    text-align: center;

}
.btn-active{
    cursor: pointer;
    background-color:rgba(0, 59, 0,1) ;
}
.btn-active:hover{
    background-color: rgba(0, 59, 0,0.8);
}
.searching-container li{
    list-style: none;
}


/* -------------------practice-css------------------------- */
.please-show{
    display: none;
}
.active-drop{
    display: block;
}
.drop-bar{
    display: none;
}
.active-dropbar{
    display: block;
}
.parent-div{
    width: 50%;
    background-color: aliceblue;
}


@media screen and (width <= 1190px) {


    #input-field{
        width:200px;
        height: 25px;
    }

}
@media screen and (width <= 900px) {


    #input-field{
        width:190px;
        height: 25px;
        font-size: 12px;
    }

}
@media screen and (width <= 864px) {


    #input-field{
        width:180px;
        height: 25px;
        font-size: 12px;
    }

}
@media screen and (width <= 818px) {


    #input-field{
        width:160px;
        height: 25px;
        font-size: 12px;
    }

}
@media screen and (width <=766px){
    .from_to,.date-class{
        flex-direction: column;
        padding: 0 0;
        
    }
    #input-field{
        box-sizing: border-box;
        /* width:265px;
        height: 35px; */
        border: 2px solid gray;
        border-radius: 2px;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: gray;
        /* padding-left: 10px; */
        padding: 0 1%;
        /* width: auto; */
        width: 100%;
    
        /* margin-left: 10px; */
    }
}
